



th {

    border-left: 1px solid #555;
    border-right: 1px solid #777;
    border-top: 0px solid #555;
    border-bottom: 1px solid #333;
    box-shadow: inset 0 1px 0 #999;
    color: #fff;
    font-weight: bold;
    padding: 10px 15px;
    position: relative;
    text-shadow: 0 1px 0 #000;	

}

th:after {
    background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.08));
    content: '';
    display: block;
    height: 25%;
    left: 0;
    margin: 1px 0 0 0;
    position: absolute;
    top: 25%;
    width: 100%;
}

th:first-child {
    border-left: 1px solid #777;	
    box-shadow: inset 1px 1px 0 #999;
}

th:last-child {
    box-shadow: inset -1px 1px 0 #999;
}

td {
    border-right: 1px solid #fff;
    border-left: 1px solid #e8e8e8;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #e8e8e8;
    padding: 10px 15px;
    position: relative;
    transition: all 300ms;
}

td:first-child {
    box-shadow: inset 1px 0 0 #fff;
}	

td:last-child {
    border-right: 1px solid #e8e8e8;
    box-shadow: inset -1px 0 0 #fff;
}	



tr:last-of-type td {
    box-shadow: inset 0 -1px 0 #fff; 
}

tr:last-of-type td:first-child {
    box-shadow: inset 1px -1px 0 #fff;
}	

tr:last-of-type td:last-child {
    box-shadow: inset -1px -1px 0 #fff;
}	

tbody:hover td {
    color: transparent;
    text-shadow: 0 0 3px #aaa;
}

tbody:hover tr:hover td {
    color: #444;
    text-shadow: 0 1px 0 #fff;
}

.error{
    color: #ff0000;
    font-weight: bold;
}

.jssora05l, .jssora05r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 40px;
    height: 40px;
    cursor: pointer;
    background: url('../view/img/sliderimg/a17.png') no-repeat;
    overflow: hidden;
}
.jssora05l { background-position: -10px -40px; }
.jssora05r { background-position: -70px -40px; }
.jssora05l:hover { background-position: -130px -40px; }
.jssora05r:hover { background-position: -190px -40px; }
.jssora05l.jssora05ldn { background-position: -250px -40px; }
.jssora05r.jssora05rdn { background-position: -310px -40px; }

/* jssor slider thumbnail navigator skin 01 css */
/*
.jssort01 .p            (normal)
.jssort01 .p:hover      (normal mouseover)
.jssort01 .p.pav        (active)
.jssort01 .p.pdn        (mousedown)
*/


/* jssor slider thumbnail specific styles */

#jssor_1{
    position: relative; 
    margin: 0 auto; 
    top: 0px; 
    left: -300px; 
    width: 800px; 
    height: 456px; 
    overflow: hidden;
    visibility: hidden; 
    background-color: #ffffff;

}

#jssor_1filter{
    filter: alpha(opacity=70); 
    opacity: 0.7; 
    position: relative; 
    display: block; 
    top: 0px; 
    left: 0px; 
    width: 100%; 
    height: 100%;
}

#jssor_position{
    position:relative;
    display:block;
    background:url('../view/img/sliderimg/loading.gif') no-repeat center center;
    top:0px;
    left:0px;
    width:80%;
    height:100%;
}

#jssor_1_nav{
    cursor: default; 
    position: relative; 
    top: 0px; 
    left: 200px; 
    width: 400px; 
    height: 356px; 
    overflow: hidden;
}

.jssort01{
    position:relative;    
    top:375px;
    bottom:0px;
    width:800px;
    height:100px;


}

#jloading{
    position: absolute; top: 0px; left: 0px;
}
#jssor_1slider{
    cursor: default; 
    position: relative; 
    top: 0px; 
    left: 0px; 
    width: 400px; 
    height: 356px; 
    overflow: hidden;

}

.jssort01 .p {
    position: absolute;
    top: 0;
    left: 0;
    width: 72px;
    height: 72px;
}

.jssort01 .t {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.jssort01 .w {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.jssort01 .c {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 68px;
    height: 68px;
    border: #000 2px solid;
    box-sizing: content-box;
    background: url('../view/img/sliderimg/t01.png') -800px -800px no-repeat;
    _background: none;
}

.jssort01 .pav .c {
    top: 2px;
    _top: 0px;
    left: 2px;
    _left: 0px;
    width: 68px;
    height: 68px;
    border: #000 0px solid;
    _border: #fff 2px solid;
    background-position: 50% 50%;
}

.jssort01 .p:hover .c {
    top: 0px;
    left: 0px;
    width: 70px;
    height: 70px;
    border: #fff 1px solid;
    background-position: 50% 50%;
}

.jssort01 .p.pdn .c {
    background-position: 50% 50%;
    width: 68px;
    height: 68px;
    border: #000 2px solid;
}

* html .jssort01 .c, * html .jssort01 .pdn .c, * html .jssort01 .pav .c {
    /* ie quirks mode adjust */
    width /**/: 72px;
    height /**/: 72px;
}
#monPanier{
    position: fixed;
    top:250px;
    z-index:2;
    overflow-y:auto;
    overflow-x: hidden;    
    right: 5px;
    height: auto;
    width:auto;
    background: url('../view/img/backgroundpanier1.png');
    text-align: center;
    border-radius:50px;   
}

#monPanier table thead, table tfoot {
    /*background: url("../view/img/backgroundpanier1.png");*/

}

#lignePanier td{    
    padding:0px;       
}

#lignePanier td input{    
    margin-left:20px;
    margin-top: 10px;
}



#thumbnailcat{


}
#thumbnailcat:hover {    
    -webkit-transform: rotate(10deg);
    /* Firefox */
    -moz-transition: all 0.5s ease;
    /* WebKit */
    -webkit-transition: all 0.5s ease;
    /* Opera */
    -o-transition: all 0.5s ease;
    /* Standard */
    transition: all 0.5s ease;
    transform: rotate(10deg) 

}

#nosCat{
    text-align: center;
    margin-left: 130px;
}



#errors{
    display:hidden;
    margin: 15px;
    width:800px;
    left:150px;
    display:none;
    color: #ff0000;
    font-weight: bold;

}